.countdown-timer-background {
    background-image: url('https://bafybeihxhhzrxiv6xs2vlikwn7qwwl2clmrrkln4qtg5jc6mnfqy3upkqe.ipfs.nftstorage.link/');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px; 
}

.show-counter {
    background-color: rgba(0, 0, 0, 0.7);  
    padding: 5px;
    border-radius: 10px;
}

.show-counter span, .show-counter div {
    color: red;
}
.expired-notice {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 10px;
}
